body {
    background-image: url("assets/bg_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Optional: keeps the background fixed on scroll */
    margin: 0; /* Optional: remove default margin */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    min-width: 100vw;
    backdrop-filter: blur(3px); /* Blur background effect */
    padding: 10px 0;
    text-align: center;
}

button, .clock {
    color: white;
    font-weight: bold;
}

button {
    padding: 7px 0;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: font-size 0.2s,
                text-shadow 0.2s;
}

button:hover {
    font-size: 1.3rem;
    text-shadow: 3px 3px 5px hsl(0, 0%, 25%)
}

.clock {
    font-size: 7rem;
    text-shadow: 3px 3px 5px hsl(0, 0%, 50%);
}